/* @theme plato */

/*******************************************************
    
    EXPORTED SECTIONS:

        <!-- _class: cite             -->
        <!-- _class: columns          -->
        <!-- _class: columns-center   -->
        <!-- _class: lead             -->
        <!-- _class: titlepage        -->


********************************************************/

/* Importing default theme from MARP */
@import "color1";


/***************** COMMON STYLES **********************/

h1 {
    color: var(--h1-color);
    border-bottom: 1px solid var(--border-color);
}
section p {
    margin-top: .5em;
    margin-bottom: 0.25em;
    line-height: 1.3em;
    font-size: 32px;
}
section li {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    line-height: 1.25em;
    font-size:105%;
    color: val(--list-item-color);
}

/* Definition for emphasis */
section em {
    color: var(--italic-color);
    background: var(--italic-background-color);
    font-style: normal;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}

/* Definition for bold text */
section strong {
    color: #2d77e6;
    padding-left: 5px;
    padding-right: 5px;
}

/* Add "Page" prefix and total page number */
section::after {
    color: rgb(255, 39, 1);;
    font-size: 25px;
    content: "" attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total) "";

}

/* Adds two-columns class */
.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    /* justify-content: center !important; */
}

/* Adds two-columns with centered contens class */
.columns-center {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
}



/******************* TITLEPAGE *************************/
/* 
    Title Page Class: first slide in a deck.
    Use: <!-- _class: titlepage --> 
*/

section.titlepage {    
    background-color: var(--background-color);
}

/* Titlepage informations */
section.titlepage .title {  
    font-size: var(--title-size);
    font-weight: var(--title-font-weight);
    color: var(--title-color);
    border-bottom: 1px solid var(--border-color);
    line-height: 1.25;
    padding-bottom: 15px;
    padding-right: 20%;
    
}
section.titlepage .subtitle {
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-color);
    padding-top: 10px;
    padding-bottom: 65pt;
    letter-spacing: -0.125px;   
}
section.titlepage .author {
    font-size: var(--author-size);
}
section.titlepage .date {
    font-s-ize: var(--date-size);  
}
section.titlepage .organization {
    font-size: var(--institute-size);  
}
section.titlepage .author, section.titlepage .date, section.titlepage .organization {
    font-weight: 400;
    text-align: right;
    color: var(--titlepage-color);
    line-height: 1.5;
}
/* Titlepage definitions for h1,h2..h5 */
section.titlepage h3, section.titlepage h4, section.titlepage h5 {
    font-weight: 400;
    text-align: right;
    color: var(--titlepage-color);
    line-height: 0;
    letter-spacing: -0.125px;
}

section.titlepage h1 {
    font-size: var(--title-size);
    font-weight: var(--title-font-weight);
    text-align: left;
    color: var(--title-color);
    border-bottom: 1px solid var(--border-color);
    line-height: 1.25;
    padding-right: 20%;
}
section.titlepage h2 {
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-font-weight);
    text-align: left;
    color: var(--subtitle-color);
    letter-spacing: -0.125px;
    line-height: 0;
    margin-top: 0.4em;
    padding-bottom: 95px;    
}
section.titlepage h3 {
    font-size: var(--author-size);
}
section.titlepage h4 {
    font-s-ize: var(--date-size);
}
section.titlepage h5 {
    font-size: var(--institute-size ); 
}

/* Omits page number in Title Page Slide */
section.titlepage footer, section.titlepage header, section.titlepage:after {
    /* hide header, footer and pagination */
    display: none;
}



/************************* LEAD *****************************/
/* 
    lead class: first slide in a section. Use h1 as header.
    Use: <!-- _class: lead --> 
*/
section.lead {
    background-color: var(--transitionpage-color);
    text-align: center !important;
    color: white;
    padding-top: auto;
    padding-buttom: auto;
}
section.lead h1, section.lead h2, section.lead p, section.lead a {
    color: white;
    font-size: 200%;
    border-bottom: none;
}
section.lead footer, section.lead header, section.lead:after {
    /* hide header, footer and pagination */
    display: none;
}

/************************* CITE *****************************/
/* 
    cite class: slide containg a citation 
    Use: <!-- _class: cite --> 
*/
section.cite p {
    color: black;
    background-color: ;
    font-size: 150%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/*  font-style: oblique; */
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 125px;
    padding-right: 125px;   
}

section.cite strong {
    color: var(--strong-color);
}

section.cite {
    background-color: var(--background-color);
}

/* Omits page number in Title Page Slide */
section.cite footer, section.cite header, section.cite:after {
    /* hide header, footer and pagination */
    display: none;
}

/************************* BIBLIO *****************************/
/* 
    slides containg bibliography
    Use: 
    
    <!-- _class: biblio --> 
    # References

*/

section.biblio {
    background-color: var(--background-color);

}
section.biblio p {
    color           : var(--text-color);
    font-size       : 90%;
    font-weight     : 300;
    padding-left    : 5px;
    
}
section.biblio h1 {
    font-size: 35px;
    color           : var(--text-color);
    border-bottom: 1px solid var(--border-color);

}
section.biblio a {
    font-size   : 31px;
    font-weight: bold;
    color       : var(--bold-color);
}
    section.biblio li {
    color           : var(--text-color);
}
section.biblio footer, section.biblio header, section.biblio:after {
    /* hide header, footer and pagination */
    display: none;
}
