/* @theme plato */

@import "default";

/* Add "Page" prefix and total page number */
section::after {
    content: "pág. " attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
    color: rgba(207, 201, 201, 0.952);
}
section p {
    margin-bottom: 0.6em;
    line-height: 1.2em;
}
h1 {
    text-align: center;
    color: darkslateblue;    
}
section li {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    line-height: 1.2em;
    font-size:100%;
    color: rgba(128, 128, 128, 0.959);
}
.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    justify-content: center !important;
}


/******************* titlepage *************************/
/* 
    Title Page Class: first slide in a deck.
    Use: <!-- _class: titlepage --> 
*/

section.titlepage {

    --titlesize         : 150%;
    --subtitlesize      : 110%;
    --authorsize        : 90%;
    --datesize          : 90%;
    --institutesize     : 90%;

    --title-color       : #6754b3;
    --subtitle-color    : #40356a;
    --titlepage-color   : #555250;


    --border-color      : #e99211;
    --border-color      : #daba8a; 
    --border-color      : #8aa6da;

    background-color: white;
}

/* Titlepage informations */

section.titlepage .title {
    
    font-size: var(--titlesize);
    font-weight: 500;
    text-align: left;
    color: var(--title-color);
    border-bottom: 1px solid var(--border-color);
}

section.titlepage .subtitle {
    font-size: var(--subtitlesize);
    font-weight: 500;
}
section.titlepage .author {
    font-size: var(--authorsize);
}
section.titlepage .date {
    font-size: var(--datesize);
    
}
section.titlepage .organization {
    font-size: var(--institutesize);
    
}
section.titlepage .author, section.titlepage .date, section.titlepage .organization {
    font-weight: 400;
    text-align: right;
    color: var(--titlepage-color);
}


/* Titlepage definitions for h1,h2..h5 */

section.titlepage h1 {
    font-size: var(--titlesize);
    text-align: left;
    color: var(--title-color);
    border-bottom: 1px solid var(--border-color);
}
section.titlepage h2 {
    font-size: var(--subtitlesize);
    font-weight: 500;
}
section.titlepage h3 {
    font-size: var(--authorsize);
}
section.titlepage h4 {
    font-size: var(--datesize);
}
section.titlepage h5 {
    font-size: var(--institutesize ); 
}
section.titlepage h3, section.titlepage h4, section.titlepage h5 {
    font-weight: 500;
    text-align: right;
    color: var(--titlepage-color);
}


/* Omits page number in Title Page Slide */

section.titlepage footer, section.titlepage header, section.titlepage:after {
    /* hide header, footer and pagination */
    display: none;
}


/******************* lead *****************************/

/* lead class: first slide in a section. Use h1 as header.
Use: <!-- _class: lead --> */
section.lead {
    background-color: orangered;
    text-align: center;
    color: white;
    padding-top: auto;
    padding-buttom: auto;
}
section.lead h1, section.lead h2, section.lead p, section.lead a {
    color: white;
    font-size: 200%
}
section.lead footer, section.lead header, section.lead:after {
    /* hide header, footer and pagination */
    display: none;
}


:root h1, h2, h3, h4, h5 {
    text-align: initial ;
}
