/* @theme einstein */

@import "marpx";

:root {
  /*------------< COLOR PALETTE >---------------------------------*/
  --marpx-color-light-grey: #a6a6a6;
  --marpx-color-dark-grey: #000000;

  /*------------< CORE THEME PARAMETERS >---------------------------------*/

  /* General theme settings */
  --marpx-theme-color: #a3a09d;
  --marpx-theme-background-color: var(--khaki-800);

  /*
  --marpx-theme-font-family: 'Fira Sans', 'Faustina', 'Bookerly', 'Lora', sans-serif;
  --marpx-theme-font-family: 'Faustina', 'Bookerly', 'Lora', sans-serif;
  --marpx-theme-font-family: 'Bookerly', 'Lora', sans-serif;
  --marpx-theme-font-family: 'Lora', sans-serif; 
  --marpx-theme-font-family: 'Charter ITC TT','Fira Sans', 'Faustina', 'Bookerly', 'Lora', sans-serif;
  */
  --marpx-theme-font-family: 'Source Sans Pro', sans-serif; 


  /* Text colors */
  --marpx-theme-font-color: #edf2f5;
  --marpx-theme-bold-color: rgb(253, 125, 79);
  --marpx-theme-marker-color: var(--orange-300);

  /* Headings */
  --marpx-theme-h1-color: #f8e3b5;
  --marpx-theme-h1-bold-color: rgb(255, 102, 0);
  --marpx-theme-h2-color: var(--orange-300);

  /* Specific elements */
  --marpx-theme-chapter-background-color: var(--orange-300);
  --marpx-theme-subtitle-color: #41434e;
  --marpx-theme-code-color: #f80d0d;
  --marpx-theme-highlight-color: var(--scarletRed-400);
  --marpx-theme-highlight-color: var();

  /* Captions and reference texts */
  --marpx-theme-figure-captiontext: "Fig. ";
  --marpx-theme-figure-captiontext-color: var(--scarletRed-100);

  --marpx-theme-table-captiontext: "Table ";
  --marpx-theme-table-captiontext-color: var(--scarletRed-100);

  /* Navigation and reference elements */
  --marpx-theme-toc-color: var(--blueViolet-500);
  --marpx-theme-toc-background-color: #f6f6f6;
  --marpx-theme-footnote-mark-color: #ff0000;

  /* Branding */
  --marpx-theme-brandlogo: " - Created with Marp e MarpX.";

  /*------------< TITLE SLIDE PARAMETERS >-----------------------------*/

  /* Font sizes */
  --marpx-title_academic-title-size: 140%;
  --marpx-title_academic-title-font-weight: 600;
  --marpx-title_academic-subtitle-size: 95%;
  --marpx-title_academic-author-size: 115%;
  --marpx-title_academic-date-size: 95%;
  --marpx-title_academic-institute-size: 85%;
  --marpx-title_academic-letter-spacing: 0.05px;

  /* Colors */
  --marpx-title_academic-font-color: #242d31;
  --marpx-title_academic-background-color: var(--khaki-800);

  --marpx-title_academic-title-color: var(--khaki-300);
  --marpx-title_academic-title-color: #cfbe84;
  --marpx-title_academic-subtitle-color: #ababac;
  --marpx-title_academic-author-color: var(--orange-500);
  --marpx-title_academic-date-color: var(--gray-100);
  --marpx-title_academic-organization-color: var(--gray-100);
  --marpx-title_academic-border-color: var(--orange-500);

  /*------------< TABLE COMPONENT PARAMETERS >---------------------------------*/

  --marpx-table-font-size: 22px;
  --marpx-table-font-color: #333e52;
  /* --marpx-table-font-family: ; */
  --marpx-table-header-background-color: #151d33;
  --marpx-table-header-color-color: white;
  --marpx-table-border-top-color: rgb(255, 73, 1);
  --marpx-table-border-bottom-color: #c5c6caf8;
  --marpx-table-nth-child-color-color: #f5f5f5;
  --marpx-table-hover-color: var(--blueViolet-400);
  --marpx-table-hover-background-color: var(--violet-100);

  /*------------< QUOTE COMPONENT PARAMETERS >---------------------------------*/

  /* Light quote variant */
  --marpx-quote-font-family: Bookerly, Faustina, Times, serif;
  --marpx-quote-background-color: var(--gray-350);
  --marpx-quote-paragraph-background-color: var(--gray-350);
  --marpx-quote-bold-color: var(--bluishCyan-800);

  /* Dark quote variant */
  --marpx-quote_dark-font: Faustina, Bookerly, Times, serif;
  --marpx-quote_dark-font-color: var(--gray-200);
  --marpx-quote_dark-color-background: var(--blue-500);
  --marpx-quote_dark-color-paragraph-background: var(--blue-500);
  --marpx-quote_dark-bold-color: var(--blue-100);

  /*------------< REFERENCES COMPONENT PARAMETERS >---------------------------------*/

  --marpx-references-header-color: var(--blueViolet-100);
  --marpx-references-bold-color: var(--blue-400);
  --marpx-references-background-color: var(--gray-400);
}

section {
  line-height: 1.2em;
}

.box {
  border: 2px solid #222;
  border-radius: 6px; /* opcional: cantos arredondados */
  padding: 2px 8px; /* espaço interno */
  /* background: #fffbe7;   /* opcional: cor de fundo */
  display: inline-block; /* garante o retângulo ao redor da palavra */
}

section code {
  border: 2px solid #222;
  border-radius: 12px;
  padding: 2px 8px;
  /* background: initial; */
  background: #fffbe7;
  /* color: #222222; */
  font-size: 0.9em;
  display: inline-block;
}

section.slide.white,
section.white-slide {
  color: var(--gray-1000);
}

section.references {
  color: var(--gray-450) !important;
  --marpx-theme-marker-color: var(--blue-200);
}

section.references tabcaption,
section.references figcaption {
  color: var(--gray-450);
}

section.references a:link {
  color: var(--blueViolet-200) !important;
}

section.references a:hover {
  color: blue !important;
}

section.title-academic .date {
  color: var(--marpx-title_academic-date-color);
}

section.title-academic .organization {
  color: var(--marpx-title_academic-organization-color);
}

section blockquote {
  color: var(--marpx-quote-font-color);
  font-size: 0.8em;
  border-left: 8px solid var(--orange-300);
}
