/* @theme einstein */

@import "marpx";

:root {
  /*------------< COLOR PALETTE >---------------------------------*/
  --marpx-color-light-grey: #a6a6a6;
  --marpx-color-dark-grey: #000000;

  /*------------< CORE THEME PARAMETERS >---------------------------------*/

  /* General theme settings */
  --marpx-theme-color: #a3a09d;
  --marpx-theme-background-color: var(--khaki-800);
  /* --marpx-theme-background-color: #161622; */
  /* --marpx-theme-background-color: #0e0e0f; */
  /* --marpx-theme-background-color: #202031; */
  --marpx-theme-background-color: hsl(240, 20%, 11%);

  /*
  --marpx-theme-font-family: 'Fira Sans', 'Faustina', 'Bookerly', 'Lora', sans-serif;
  --marpx-theme-font-family: 'Faustina', 'Bookerly', 'Lora', sans-serif;
  --marpx-theme-font-family: 'Bookerly', 'Lora', sans-serif;
  --marpx-theme-font-family: 'Charter ITC TT','Fira Sans', 'Faustina', 'Bookerly', 'Lora', sans-serif;
  --marpx-theme-font-family: "Sentinel-Book", cursive, Faustina, Bookerly, Lora, sans-serif; 
  --marpx-theme-font-family: 'Lora', sans-serif; 
  */
  --marpx-theme-font-family: 'Source Sans Pro', sans-serif;
  --marpx-theme-font-size: 23pt;


  /* Text colors */
  /* --marpx-theme-font-color: #edf2f5; */
  --marpx-theme-font-color: #f3e9cc;
  --marpx-theme-bold-color: #fd7d4f;
  /* --marpx-theme-marker-color: #62bef3; */
  /* --marpx-theme-marker-color: #fdcf00; */
  --marpx-theme-marker-color: #f36269;

  /* Headings */
  /* --marpx-theme-h1-color: #f36269; */
  /* --marpx-theme-h1-color: #fc9a58; */
  /* --marpx-theme-h1-color: #fdcf00; */
  /* --marpx-theme-h1-color: #f3cf30; */
  --marpx-theme-h1-color: #fd9550;
  --marpx-theme-h1-bold-color: #fc9a58;
  --marpx-theme-h1-bold-color: rgb(255, 94, 0);
  --marpx-theme-h2-color: var(--orange-300);

  /* Specific elements */
  --marpx-theme-chapter-background-color: var(--orange-300);
  --marpx-theme-chapter-h1-font-color: #000000;
  --marpx-theme-chapter-h2-font-color: #f1f1f1;
  --marpx-theme-subtitle-color: #41434e;
  --marpx-theme-code-color: #f80d0d;
  --marpx-theme-highlight-color: var(--scarletRed-400);
  --marpx-theme-highlight-color: var();

  /* Captions and reference texts */
  --marpx-theme-figure-captiontext: "Fig. ";
  --marpx-theme-figure-captiontext-color: #fd7d4f;

  --marpx-theme-table-captiontext: "Table ";
  --marpx-theme-table-captiontext-color: #fd7d4f;

  /* Navigation and reference elements */
  --marpx-theme-toc-color: hsl(249, 51%, 59%);
  --marpx-theme-toc-color: hsl(249, 98%, 65%);
  --marpx-theme-toc-background-color: #02010a;
  --marpx-theme-toc-background-color: #fceed5;
  --marpx-theme-footnote-mark-color: #ff0000;

  /* Branding */
  --marpx-theme-brandlogo: " ";

  /*------------< TITLE SLIDE PARAMETERS >-----------------------------*/

  /* Font sizes */
  --marpx-title_academic-title-size: 140%;
  --marpx-title_academic-title-font-weight: 600;
  --marpx-title_academic-subtitle-size: 95%;
  --marpx-title_academic-author-size: 110%;
  --marpx-title_academic-date-size: 95%;
  --marpx-title_academic-institute-size: 85%;
  --marpx-title_academic-letter-spacing: 0.05px;

  /* Colors */
  /* --marpx-title_academic-font-color: #82bbd3; */
  --marpx-title_academic-background-color: hsl(240, 29%, 8%);
  --marpx-title_academic-background-color: hsl(240, 10%, 10%);
  --marpx-title_academic-border-color: #694ffd;

  --marpx-title_academic-title-color: hsl(240, 100%, 81%);
  --marpx-title_academic-subtitle-color: var(--marpx-theme-font-color);
  --marpx-title_academic-author-color: hsl(24, 83%, 73%);
  --marpx-title_academic-date-color: var(--marpx-theme-font-color);
  --marpx-title_academic-organization-color: var(--marpx-theme-font-color);


  /*------------< TABLE COMPONENT PARAMETERS >---------------------------------*/

  --marpx-table-font-size: 22px;
  --marpx-table-font-color: #333e52;
  /* --marpx-table-font-family: ; */
  --marpx-table-header-background-color: #151d33;
  --marpx-table-header-color-color: white;
  --marpx-table-border-top-color: rgb(255, 73, 1);
  --marpx-table-border-bottom-color: #c5c6caf8;
  --marpx-table-nth-child-color-color: #f0ecec;
  --marpx-table-hover-color: var(--blueViolet-400);
  --marpx-table-hover-background-color: var(--violet-100);

  /*------------< QUOTE COMPONENT PARAMETERS >---------------------------------*/

  /* Light quote variant */
  --marpx-quote-font-family: Bookerly, Faustina, Times, serif;
  --marpx-quote-background-color: var(--gray-350);
  --marpx-quote-paragraph-background-color: var(--gray-350);
  --marpx-quote-bold-color: var(--bluishCyan-800);

  /* Dark quote variant */
  --marpx-quote_dark-font: Faustina, Bookerly, Times, serif;
  --marpx-quote_dark-font-color: var(--gray-200);
  --marpx-quote_dark-color-background: var(--blue-500);
  --marpx-quote_dark-color-paragraph-background: var(--blue-500);
  --marpx-quote_dark-bold-color: var(--blue-100);

  /*------------< REFERENCES COMPONENT PARAMETERS >---------------------------------*/

  --marpx-references-header-color: var(--blueViolet-100);
  --marpx-references-bold-color: var(--blue-400);
  --marpx-references-background-color: var(--gray-400);
}

a {
  color: hsl(46, 80%, 66%) !important;
}

section {
  line-height: 1.1;
}

section code:not(pre code) {
  /* color: #222222; */
  border: 0px solid #0a0a00ff;
  color: #fafafa;
  background: rgb(253, 59, 0) !important;
  /* background: initial; */
  border-radius: 7px;
  padding: 1px 8px;
  /* font-size: 1em; */
  display: inline-block;
}


.box {
  border: 2px solid #222;
  border-radius: 6px;
  /* opcional: cantos arredondados */
  padding: 2px 8px;
  /* espaço interno */
  /* background: #fffbe7;   /* opcional: cor de fundo */
  display: inline-block;
  /* garante o retângulo ao redor da palavra */
}

.box {
  border: 2px solid #222;
  border-radius: 6px;
  /* opcional: cantos arredondados */
  padding: 2px 8px;
  /* espaço interno */
  /* background: #fffbe7;   /* opcional: cor de fundo */
  display: inline-block;
  /* garante o retângulo ao redor da palavra */
}

h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -0.4pt;
  line-height: 1.2;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -0.4pt;
  line-height: 1.16;
  margin-bottom: 28px;
  color: rgb(255, 254, 254)
}

h3 {
  line-height: 1.02;
  margin-bottom: 1.1em;
}

blockquote {
  font-family: "Source Sans Pro";
  font-weight: 100;
  font-size: 19pt !important;
  line-height: 20pt;
  margin-top: 16pt;
  color: rgb(240, 220, 166) !important;
}

blockquote strong {
  color: rgb(248, 162, 33);
  font-weight: 900 !important;
  font-family: bookerly;
}

blockquote em {
  color: rgb(125, 218, 88) !important;
  font-family: bookerly, Faustina, times;
  font-weight: normal;
}


section code {
  border: 2px solid #222;
  border-radius: 12px;
  padding: 2px 8px;
  /* background: initial; */
  background: #fffbe7;
  /* color: #222222; */
  font-size: 0.9em;
  display: inline-block;
}

section.slide.white,
section.white-slide {
  color: var(--gray-1000);
}

section.references {
  color: var(--gray-450) !important;
  --marpx-theme-marker-color: var(--blue-200);
}

section.references tabcaption,
section.references figcaption {
  color: var(--gray-450);
}

section.references a:link {
  color: var(--blueViolet-200) !important;
}

section.references a:hover {
  color: blue !important;
}

section.title-academic .date {
  color: var(--marpx-title_academic-date-color);
}

section.title-academic .organization {
  color: var(--marpx-title_academic-organization-color);
}

section blockquote {
  color: var(--marpx-quote-font-color);
  font-size: 0.8em;
  border-left: 8px solid var(--orange-300);
}

ul li {
  list-style-type: square;
  letter-spacing: -0.02em;
  margin-bottom: 0.925em;
  color: rgb(245, 232, 196) !important;
}

ul li h3,
h2 {
  margin-bottom: 1.5em;
  line-height: 110%;
  color: rgb(245, 232, 196) !important;
}

ul ul li {
  list-style-type: disc;
}

ul ul ul li {
  list-style-type: circle;
}

ol li {
  margin-bottom: 1.0em;
  letter-spacing: -0.02em;
}

ol ol li {
  list-style-type: lower-alpha;
}

ol ol ol li {
  list-style-type: lower-roman;
}