/* @theme hobbes */

@import "marpx";

/* Font: Bitter */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {


  /* Khaki */
  --khaki-font: #2e2e2e;
  --khaki-bold: #a09f9f;
  --khaki-background1: #e1dad1;
  --khaki-background2: #706d63;
  --khaki-d100: #fef7e0;
  --khaki-d150: #fad762;
  --khaki-d200: #fdca24;
  --khaki-d300: #ffab10;
  --khaki-d400: #f0a211;
  --khaki-d500: #e9e3d1;
  --khaki-d600: #bbb7a9;
  --khaki-d650: #3c3f3b;
  --khaki-d700: #706d63;
  --khaki-d750: #b8b8b8;
  --khaki-d800: #2e2626;
  --khaki-d900: #6880a0;
  --khaki-d1000: #93b0ee;
  --khaki-d1100: #6e85b8;
  
  --khaki-100: #ffe08a;
  --khaki-200: #fee16d;
  --khaki-300: #ffc524;
  --khaki-400: #fdcc08;
  --khaki-500: #ffbf00;
  --khaki-600: #daa60b;
  --khaki-700: #e77b00;
  --khaki-800: #3e3f42;
  --khaki-850: #848482;
  --khaki-900: #ff3300;




  --marpx-theme-font-size: 22pt;
  --marpx-theme-letter-spacing: .01px;
  --marpx-theme-font-family: Bitter, Faustina, Bookerly, Lora, serif;
  --marpx-theme-background-color: var(--khaki-background1);
  --marpx-theme-font-color: var(--khaki-font);
  --marpx-theme-bold-color: var(--khaki-bold);
  --marpx-theme-marker-color: var(--khaki-d400);
  --marpx-theme-h1-color: var(--khaki-font);
  --marpx-theme-h1-bold-color: var(--khaki-bold);
  --marpx-theme-h2-color: var(--khaki-d900); 
  
  --marpx-theme-color: var(--khaki-font);
  --marpx-theme-figure-captiontext-color: var(--khaki-900);
  --marpx-theme-figure-captiontext: "Fig. ";
  --marpx-theme-highlight-color: var(--blueViolet-500);
  --marpx-theme-table-captiontext-color: var(--khaki-900);
  --marpx-theme-toc-color: var(--khaki-d900);



  --marpx-quote-font-color: var(--khaki-d700);
  --marpx-quote-background-color: var(--khaki-d500); 
  --marpx-quote-bold-color: var(--khaki-d900);
  --marpx-quote-bold-color: var(--blueViolet-100);
  --marpx-quote-paragraph-background-color: inherit;

  --marpx-quote_dark-font-color: var(--khaki-d600);
  --marpx-quote_dark-bold-color: var(--khaki-d300);
  --marpx-quote_dark-color-background: var(--khaki-d650);
  --marpx-quote_dark-color-paragraph-background: inherit;

  --marpx-references-background-color: var(--khaki-background1);
  --marpx-references-header-color: var(--khaki-d900);
  --marpx-references-bold-color: var(--khaki-d900);
  --marpx-references-color: var(--khaki-font);
    
  --marpx-table-font-color: var(--khaki-font);
  --marpx-table-hover-background-color: var(--violet-100);
  --marpx-table-hover-color: var(--blueViolet-400);

  --marpx-theme-chapter-background-color: var(--khaki-d700);
  --marpx-theme-chapter-background-color: var(--khaki-d1000);
  --marpx-theme-chapter-h1-font-color: var(--khaki-d500);
  --marpx-theme-chapter-h2-font-color: var(--khaki-d600);

  --marpx-title_academic-background-color: var(--khaki-background2);
  --marpx-title_academic-title-color: var(--khaki-d200);
  --marpx-title_academic-subtitle-color: var(--khaki-d600);
  --marpx-title_academic-border-color: var(--khaki-d400);
  --marpx-title_academic-author-color: var(--khaki-background1);
  --marpx-title_academic-font-color: var(--khaki-d600);
  --marpx-title_academic-title-size: 125%;
  --marpx-title_academic-subtitle-size: 85%;
  --marpx-title_academic-author-size: 100%;
  --marpx-title_academic-institute-size: 85%;
  --marpx-title_academic-title-font-weight: bold;
  --marpx-title_academic-letter-spacing: -0.07px;

  --marpx-title-header-color: var(--khaki-d400);

}

/* Demais diferenças estruturais */
section {
  line-height: 1.2em;
}

section code:not(pre code) {
  color: var(--khaki-font);
  background: var(--khaki-d200) !important;
  border: 0px solid var(--khaki-font);
  border-radius: 8px;
  padding: 1px 5px;
  font-size: 0.98em;
  display: inline-block;
}


section.slide.white,
section.white-slide {
  color: var(--khaki-font);
}

section.references a {
  color: #93b0ee;

}

section.chapter {

  background-image: linear-gradient(to right bottom, #4e6699, #3e5383);
  /* background-image: url("./pattern01.jpg"); */
}

