/* @theme socrates */

@import "marpx";

:root {

  /*------------ Overall theme parameters ---------------------------------*/

  --marpx-theme-font-family: "Fira Sans", Faustina, Bookerly, sans-serif;
  --marpx-theme-captiontext-figure: "Fig. ";
  --marpx-theme-captiontext-table: "Table ";
  --marpx-theme-brandlogo: " - Created with Marp & MarpX.";

  --marpx-theme-color: #006a85;
  --marpx-theme-color-alt: #5a79a1;
  --marpx-theme-color-background: #ffffff;
  --marpx-theme-color-font: #000000;
  --marpx-theme-color-bold: #f8150d;
  
  --marpx-color-subtitle: #5d616d;
  --marpx-color-h1-bold: #ff3c00;
  --marpx-theme-color-agenda: #c79409;

  --marpx-color-footnote-mark: #ff0000;
  --marpx-color-code: rgb(233, 233, 233);
  --marpx-color-highlight: #b9e4f1;

  /* ------------------- TITLE SLIDE -----------------------------*/

  /* fonts sizes */
  --marpx-titleslide-academic-title-size: 145%;
  --marpx-titleslide-academic-subtitle-size: 95%;
  --marpx-titleslide-academic-author-size: 105%;
  --marpx-titleslide-academic-date-size: 95%;
  --marpx-titleslide-academic-institute-size: 95%;
  /* inter character space */
  --marpx-titleslide-academic-letter-spacing: 0.125px;
  /* font weights */
  --marpx-titleslide-academic-title-font-weight: bold;
  --marpx-titleslide-academic-subtitle-font-weight: 600;
  /* colors in style */
  --marpx-titleslide-academic-title-color: #002b36;
  --marpx-titleslide-academic-title-color: #003c4b;
  --marpx-titleslide-academic-subtitle-color: #ababac;
  --marpx-titleslide-academic-author-color: #f8150d;
  --marpx-titleslide-academic-titlepage-color: #242d31;
  --marpx-titleslide-academic-background-color: #faf7f7;
  --marpx-titleslide-academic-border-color: #e99211;

  /*------------ Parameters used in `REFERENCES` ---------------------------------*/

  --marpx-color-references-bold: #3e6ceb;
  --marpx-color-references-background: #eff4fa;
  --marpx-color-reference-header: #539dd3;

  /*------------ Parameters used in `QUOTE` ---------------------------------*/

  --marpx-color-quote-background: #ece8e8;
  --marpx-color-quote-paragraph-background: #f8f8f8;
  --marpx-color-quote-strong: #6462f1;
  --marpx-font-quote: Arial, Faustina, Times, serif;
  /*- quote dark -*/
  --marpx-color-quote-dark-background: #94c7df;
  --marpx-color-quote-dark-paragraph-background: #a0c2cf;
  --marpx-color-quote-dark-strong: #f8f8f7;
  --marpx-font-quote-dark: Arial, Faustina, Bookerly, Times, serif;

  /*------------ Parameters used in `TABLE` ---------------------------------*/

  --marpx-color-table-header-background: rgb(0, 0, 0);
  --marpx-color-table-header-color: white;
  --marpx-color-table-border-top: ;
  --marpx-color-table-border-bottom: rgba(202, 201, 197, 0.973);
  --marpx-color-table-nth-child-color: #f5f5f5;
  --marpx-color-table-hover: rgb(71, 70, 25);
  --marpx-color-table-hover-background: rgb(234, 247, 121);

  --marpx-font-table-size: 22px;
  --marpx-font-table-family: ;
  
  /*------------ Parameters used in `TOC` ---------------------------------*/
  --marpx-color-toc-marker: rgb(175, 69, 27);

}

section {
    
    line-height: 1.3em;
}

section code {
  border: 2px solid #222;
  border-radius: 12px;
  padding: 2px 8px;
  /* background: initial; */
  background: #fffbe7;
  /* color: #222222; */
  font-size: 1em;
  display: inline-block;
}