/* @theme marpx */

@import "marpx";


:root {

    /** ----------------------------------------------------------------------------------------------- */
    /** WARNING: The parameter (container-type: normal) was used to allow the numbering of figures      */
    /**          and tables. Be warned that it may produce side effects in browsers other than Chrome!  */
    /** ----------------------------------------------------------------------------------------------- */
    container-type: normal;
    counter-reset: figure_cnt table_cnt;

    --marpx-color-light-grey: #a6a6a6;
    --marpx-color-dark-grey: #000000;

    /*------------ Overall theme parameters --------------------------*/

    --marpx-theme-font-family:  Faustina, 'Fira Sans Light',sans-serif;
    --marpx-theme-captiontext-figure: "Fig. ";
    --marpx-theme-captiontext-table: "Table ";
    --marpx-theme-brandlogo: " - Created with Marp e MarpX.";
    
    --marpx-theme-color: #3e6ceb;
    --marpx-theme-color-agenda: #0aa5ff;
    --marpx-theme-color-alt: #9aade2;
    --marpx-theme-color-background: #ffffff;
    --marpx-theme-color-bold: #f70d0d;

    --marpx-color-subtitle: #5d616d;
    --marpx-color-h1-bold: #ff3c00;
    --marpx-color-footnote-mark: #ff0000;
    --marpx-color-code: #ffff00;
    --marpx-color-highlight: #ffff00;

    /*------------ Parameters used in `REFERENCES` --------------------------*/

    --maprx-color-references-bold: #3e6ceb;
    --marpx-color-references-background: #eff4fa;
    --marpx-color-reference-header: #539dd3;

    /*------------ Parameters used in `QUOTE` --------------------------*/

    --marpx-color-quote-background: #ffffff;
    --marpx-color-quote-paragraph-background: #ffffff;
    --marpx-color-quote-strong: #6462f1;
    --marpx-font-quote: Faustina, Bookerly, Times, serif;

    --marpx-color-quote-dark-background: #9aade2;
    --marpx-color-quote-dark-paragraph-background: #9aade2;
    --marpx-color-quote-dark-strong: #f8f8f7;
    --marpx-font-quote-dark: Faustina, Bookerly, Times, serif;

    /*------------ Parameters used in `TABLE` --------------------------*/

    --marpx-color-table-header-background: rgb(21, 29, 51);
    --marpx-color-table-header-color: white;
    --marpx-color-table-border-top: rgb(255, 73, 1);
    --marpx-color-table-border-bottom: rgba(202, 201, 197, 0.973);
    --marpx-color-table-nth-child-color: #f5f5f5;
    --marpx-color-table-hover: black;
    --marpx-color-table-hover-background: rgb(234, 247, 121);

    --marpx-font-table-size: 22px;
    --marpx-font-table-family: 'Fira Sans';
  
  /*------------ Parameters used in `TOC` ---------------------------------*/
  --marpx-color-toc-marker: rgb(0, 102, 255);


}

section {
    
    line-height: 1.3em;
}

.boxed {
  border: 2px solid #222;
  border-radius: 6px;      /* opcional: cantos arredondados */
  padding: 2px 8px;        /* espaço interno */
  /* background: #fffbe7;   /* opcional: cor de fundo */
  display: inline-block;   /* garante o retângulo ao redor da palavra */
}

section code {
  border: 2px solid #222;
  border-radius: 12px;
  padding: 2px 8px;
  /* background: initial; */
  background: #fffbe7;
  /* color: #222222; */
  font-size: 1em;
  display: inline-block;
}